#form-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  align-content: center;
  width: 100%;
}

#encode-container {
  flex: 1;
  align-content: center;
  align-self: center;
}

#decode-container {
  flex: 1;
  align-content: center;
  align-self: center;
}